In [1]:
import pandas as pd

In [3]:
# Import the data
df = pd.read_csv('../Resources/lax_temperature.csv')
print(df)
# Show the first 5 rows
df.head()

          STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0     72295023174  2019-01-01T00:49:00       FM-16                        52
1     72295023174  2019-01-01T00:53:00       FM-15                        51
2     72295023174  2019-01-01T01:53:00       FM-15                        52
3     72295023174  2019-01-01T02:53:00       FM-15                        49
4     72295023174  2019-01-01T03:53:00       FM-15                        43
...           ...                  ...         ...                       ...
3524  72295023174  2019-04-18T21:53:00       FM-15                        60
3525  72295023174  2019-04-18T22:06:00       FM-16                        59
3526  72295023174  2019-04-18T22:12:00       FM-16                        58
3527  72295023174  2019-04-18T22:36:00       FM-16                        58
3528  72295023174  2019-04-18T22:53:00       FM-15                        58

[3529 rows x 4 columns]

       STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0  72295023174  2019-01-01T00:49:00       FM-16                        52
1  72295023174  2019-01-01T00:53:00       FM-15                        51
2  72295023174  2019-01-01T01:53:00       FM-15                        52
3  72295023174  2019-01-01T02:53:00       FM-15                        49
4  72295023174  2019-01-01T03:53:00       FM-15                        43

In [ ]:
# Rename the columns

In [ ]:
# How many reports are there of report type FM-16?

In [ ]:
# How many readings measured a temp over 70?

In [ ]:
# What was the temperature for the 276th reading?

In [ ]:
# What were the dates and report types of rows 500 through 505?

In [ ]:
# Show the last 10 rows of the DataFrame