# Sourcing Data from HTML Tables with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically extract any tabular data from a page.

In [2]:
url = 'https://en.wikipedia.org/wiki/Stellar_Blade'

In [3]:
tables = pd.read_html(url)
tables

[   Stellar Blade                             Stellar Blade.1
 0            NaN                                         NaN
 1   Developer(s)                                    Shift Up
 2   Publisher(s)              Sony Interactive Entertainment
 3    Director(s)                               Kim Hyung-tae
 4    Producer(s)                                Lee Joo-hwan
 5    Designer(s)  Kim Hyung-tae Lee Chang-min Jang Hee-cheol
 6    Composer(s)        Park Jin-bae Oliver Good Keita Inoue
 7         Engine                             Unreal Engine 4
 8    Platform(s)                               PlayStation 5
 9        Release                              April 26, 2024
 10      Genre(s)                           Action, Adventure
 11       Mode(s)                               Single-player]

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [4]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [5]:
df = tables[1]
df.head()

IndexError: list index out of range

#### Fix column names

In [6]:
cols = list(df.columns)
cols[2] = "City population"
cols[3] = "State/territory population"
df.columns = cols
df.head()

,State/territory,Capital,City population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since,Image
0,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913,NaN
1,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
2,Northern Territory,Darwin,145916,245740,59.38%,1869,1911,NaN
3,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN

#### Drop a column

In [7]:
df = df.drop(['Image'], axis=1)
df.head()

,State/territory,Capital,City population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since
0,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913
1,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788
2,Northern Territory,Darwin,145916,245740,59.38%,1869,1911
3,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836

#### Reset an index

In [8]:
df = df.reset_index(drop=True)
df.head()

,State/territory,Capital,City population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since
0,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913
1,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788
2,Northern Territory,Darwin,145916,245740,59.38%,1869,1911
3,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836

In [9]:
df.loc[df["State/territory"]=="New South Wales"]

,State/territory,Capital,City population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since
1,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788

## Export DataFrame as CSV

In [10]:
df.to_csv("australian_city_data.csv", index=False)